<table class="bordered">
    <thead>
        <tr>
            <th>Sel</th>
            <th>Fecha Creacion</th>
            <th>Cliente</th>
            <th>Pais</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Usuario Creo</th>
            <th>Tipo Pago</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientes">

            <td>
                <input (change)="onSelect(item.Id)" type="checkbox" name="Select" id="{{item.Id}}">
                <label for="{{item.Id}}" style="opacity: 0">{{item.Id}}</label>
            </td>
            <td> {{item.CreatedDate}} </td>
            <td> {{item.GrupoEmpresarial}} </td>
            <td> {{item.Pais}} </td>
            <td> {{item.Direccion}} </td>
            <td> {{item.Telefono}} </td>
            <td> {{item.CreatedBy}} </td>
            <td>
                <button (click)="onCredit(item.Id)">Solicitar Crédito</button>
            </td>
            <td class="opciones">
                <i class="fas fa-edit verde-text" [routerLink]="['../../editar/Cliente', item.Id]"></i>
                <i class="fas fa-trash rojo-text" (click)="toDelete(item.Id)"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col s12">
        <p>
            Enviar a tabla de Clientes en Efectivo
            <button (click)="sendEfectivo()">Enviar</button>
        </p>
    </div>
</div>

<solicitud-credito class="overlay" [cliente]="clienteCredito" style="display: none"></solicitud-credito>