<table class="bordered">
    <thead>
        <tr>
            <th>Fecha Creacion</th>
            <th>Cliente</th>
            <th>Pais</th>
            <th>CLiente</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Usuario Creo</th>

            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientes">

            <td> {{item.CreatedDate}} </td>
            <td> {{item.GrupoEmpresarial}} </td>
            <td> {{item.Pais}} </td>
            <td> {{item.Direccion}} </td>
            <td> {{item.Telefono}} </td>
            <td> {{item.CreatedBy}} </td>
            <td class="opciones">
                <i class="fas fa-edit verde-text" [routerLink]="['../../editar/Cliente', item.Id]"></i>
                <i class="fas fa-trash rojo-text" (click)="toDelete(item.Id)"></i>
            </td>
        </tr>
    </tbody>
</table>