<table class="bordered">
    <thead>
        <tr>
            <th>Fecha Creacion</th>
            <th>Cliente</th>
            <th>Pais</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Usuario Creo</th>
            <th>Tipo Pago</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientes">

            <td> {{item.cliente.CreatedDate.split('T')[0]}} </td>
            <td> {{item.cliente.GrupoEmpresarial}} </td>
            <td> {{item.cliente.Pais}} </td>
            <td> {{item.cliente.Direccion}} </td>
            <td> {{item.cliente.Telefono}} </td>
            <td> {{item.cliente.UserName}} </td>
            <td>
                <button [disabled]="item.solicitud" *ngIf="item.cliente.TipoPago == 1" (click)="onCredit(item.cliente.Id)">Solicitar Crédito</button>
            </td>
            <td class="opciones">
                <i class="fas fa-edit verde-text" [routerLink]="['../../editar/Cliente', item.cliente.Id]"></i>
                <i class="fas fa-trash rojo-text" (click)="toDelete(item.cliente.Id)"></i>
            </td>
        </tr>
    </tbody>
</table>

<div class="col s12">
    <p>
        <button [disabled]="page == 1" (click)="previousPage(page)">Previa</button> Página: {{page}}
        <button [disabled]="disableNext" (click)="nextPage(page)">Siguiente</button>
    </p>
</div>

<solicitud-credito class="overlay" [cliente]="clienteCredito" style="display: none"></solicitud-credito>