<form *ngIf="documento" action="#" method="post" onsubmit="return false" #DocumentoForm="ngForm" (ngSubmit)="onEdit()">
    <div class="row">
        <div class="col s12 input-field">
            <input type="text" name="Documento" id="Documento" [(ngModel)]="documento.Documento" #Documento="ngModel" required>
            <label for="Documento">Nombre del Documento</label>
        </div>
        <div class="col s12 center">
            <button [disabled]="!AddDocumentoForm.form.valid" class="btn light-blue darken-4" type="submit">
  EDITAR
</button>
        </div>
    </div>
</form>