<table class="bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Linea Producto</th>
            <th>Usuario Creo</th>

            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of lineasProducto">

            <td> {{item.Id}} </td>
            <td> {{item.LineaProducto}} </td>
            <td> {{item.CreatedBy}} </td>
            <td class="opciones">
                <!-- <i class="fas fa-user azul-text" (click)="onChangeRol(item.Id)"></i> -->
                <i class="fas fa-edit verde-text" [routerLink]="['../../editar/LineaProducto', item.Id]"></i>
                <i class="fas fa-trash rojo-text" (click)="toDelete(item.Id)"></i>
            </td>
        </tr>
    </tbody>
</table>