.brand-logo {
    margin: 0 1em
}

#mant-menu,
#report-menu {
    position: absolute;
    width: 100vw;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 5;
}

.collection-item {
    cursor: pointer
}

.collection-item:hover {
    background: #ccc;
    transition: all .2s;
    font-weight: 900;
}