<table class="bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo Industria</th>
            <th>Usuario Creo</th>

            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tiposIndustria">

            <td> {{item.Id}} </td>
            <td> {{item.TipoTndustria}} </td>
            <td> {{item.CreatedBy}} </td>
            <td class="opciones">
                <!-- <i class="fas fa-eye azul-text" (click)="onChangeRol(item.Id)"></i> -->
                <i class="fas fa-edit verde-text" [routerLink]="['../../editar/TipoIndustria', item.Id]"></i>
                <i class="fas fa-trash rojo-text" (click)="toDelete(item.Id)"></i>
            </td>
        </tr>
    </tbody>
</table>