<form #AddInconsistenciaForm="ngForm" action="#" method="post" onsubmit="return false" (ngSubmit)="onSubmit()">
    <div class="row">

        <div class="col s6">
            <label for="FechaRecepcion">Fecha Recepcion</label>
            <input type="date" name="day" id="day" [(ngModel)]="inconsistencia.FechaRecepcion" #FechaRecepcion="ngModel" required>
        </div>

        <!--Combobox que traera la informacion de la tabla Cliente-->
        <div class="col s6">
            <label for="Cliente">Cliente</label>
            <select name="Cliente" [(ngModel)]="inconsistencia.Cliente" #Cliente="ngModel">
                    <option selected *ngFor="let item of Cliente_items" value="{{item.Id}}">{{item.GrupoEmpresarial}}</option>
                </select>
        </div>
        <div class="col s6 input-field">
            <input type="text" name="HojaRuta" id="HojaRuta" [(ngModel)]="inconsistencia.HojaRuta" #HojaRuta="ngModel" required>
            <label for="HojaRuta">Hoja de Ruta</label>
        </div>
        <!--Combobox que traera la informacion de la tabla Proveedor-->
        <div class="col s6">
            <label for="Proveedor">Proveedor</label>
            <select name="Proveedor" [(ngModel)]="inconsistencia.Proveedor" #Proveedor="ngModel">
                        <option selected *ngFor="let item of Proveedor_items" value="{{item.Id}}">{{item.Proveedor}}</option>
                    </select>
        </div>
        <!--Combobox que traera la informacion de la tabla Documento-->
        <div class="col s6">
            <label for="Documento">Documento</label>
            <select name="Documento" [(ngModel)]="inconsistencia.Documento" #Documento="ngModel">
                        <option selected *ngFor="let item of Documento_items" value="{{item.Id}}">{{item.Documento}}{{item.DocumentoId}}</option>
                    </select>
        </div>

        <div class="col s6 input-field">
            <input type="text" name="NumeroDocumento" id="NumeroDocumento" [(ngModel)]="inconsistencia.NumeroDocumento" #NumeroDocumento="ngModel" required>
            <label for="NumeroDocumento">Numero de Documento</label>
        </div>

        <!--Combobox que traera la informacion de la tabla Categoria-->
        <div class="col s6">
            <label for="Categoria">Categoria</label>
            <select name="Categoria" [(ngModel)]="inconsistencia.Categoria" #Categoria="ngModel">
                            <option selected *ngFor="let item of Categoria_items" value="{{item.Id}}">{{item.Categoria}}{{item.CategoriaId}}</option>
                        </select>
        </div>
        <div class="col s12 center">
            <button [disabled]="!AddInconsistenciaForm.form.valid" class="btn deep-purple darken-4" type="submit">
                Agregar
            </button>
        </div>
    </div>
</form>