<form *ngIf="lineaProducto" action="#" method="post" onsubmit="return false" #TipoIndustriaForm="ngForm" (ngSubmit)="onEdit()">
    <div class="row">
        <div class="col s12 input-field">
            <input type="text" name="LineaProducto" id="LineaProducto" [(ngModel)]="lineaProducto.LineaProducto" #LineaProducto="ngModel" required>
            <label for="LineaProducto">Nombre de la Categoria</label>
        </div>
        <div class="col s12 center">
            <button [disabled]="!AddRolForm.form.valid" class="btn light-blue darken-4" type="submit">
      EDITAR
  </button>
        </div>
    </div>
</form>