.imgContainer {
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    max-width: 300px;
}

.imgContainer img {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
}

.rowLogin {
    min-height: 100vh;
}

nav {
    text-align: center
}

h5 {
    width: 100%;
}

.login-box {
    max-width: 350px;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}