<form #AddGrupoPersonaForm="ngForm" action="#" method="post" onsubmit="return false" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col s12 input-field">
            <input type="text" name="GrupoPersona" id="GrupoPersona" [(ngModel)]="grupoPersona.GrupoPersona" #GrupoPersona="ngModel" required>
            <label for="GrupoPersona">Nombre del grupo de persona</label>
        </div>

        <div class="col s12 center">
            <button [disabled]="!AddGrupoPersonaForm.form.valid" class="btn deep-purple darken-4" type="submit">
                Agregar
            </button>
        </div>

    </div>
</form>